<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navigation"></nav>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12">
                <form method="post">
                    <div class="form-group">
                        <label for="cheeseNameField">Cheese Name:</label>
                        <input type="text" class="form-control" name="cheeseName" id="cheeseNameField"/>
                    </div>
                    <div class="form-group">
                        <label for="cheeseDescriptionField">Cheese Description:</label>
                        <textarea class="form-control" name="cheeseDescription" id="cheeseDescriptionField" placeholder="Mmmmmm... Cheese..."></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-large btn-block" value="Add Cheese" />
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>
</html>